.home {
    background-color: #1F8FFD;
    min-height: 100vh;
    height: 100vh;
}
.home__header {
    height: auto;
    background-color: #1F8FFD;
}
.home__header-icon-container {
    padding-left: 1rem;
}
.home__header-icon {
    height: 4rem;
    width: 4rem;
    /* padding: 0.5rem 1rem 0rem 1.5rem; */
}
