.home {
    background-color: #1F8FFD;
    min-height: 100vh;
    height: 100vh;
}
.home__header {
    height: auto;
    background-color: #1F8FFD;
}
.home__header-icon {
    width: 4rem;
    padding: .4rem .7rem;
    height: auto;
}
.home__header-icon img {
    width: 100%;
    height: 100%;
}